table {
    width: 100%;
    border-bottom: 1px solid lightgray;

    th, td {
        text-align: center !important;
    }

    .empty-data {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .custom-size {
        font-size: 30px;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}

div {
    padding: 30px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 25%;
    float: right;
}