.container {
    display: flex;
    height: 97vh;

    .column {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        height: 100%;
    }

    .column-1 {
        flex-basis: 30%;
    }

    .column-2 {
        flex-basis: 70%; 
        border-left: none;
    }

    .row {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .row:last-child {
        border-bottom: none;
    }
}

@media (max-width: 1260px) {
    .container {
        flex-direction: column-reverse;
    }

    .column-1 {
        order: 2;
        flex-direction: column-reverse;
        display: flex;
    }

    .column-2 {
        border-top: 1px solid #ccc; 
    }
}
