<!-- <div class="container">
    <div class="column column-1">
        <div class="row">
            <app-input-data></app-input-data>
        </div>
        <div class="row">
            <app-notes></app-notes>
        </div>
    </div>

    <div class="column column-2">
        <div class="row">
            <app-data-table></app-data-table>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="data-table">
        <app-data-table></app-data-table>
    </div>
    <div class="input">
        <app-input-data></app-input-data>
    </div>
    <div class="stuff">
        <app-notes></app-notes>
    </div>
</div>

<app-footer></app-footer>


