<mat-form-field class="example-full-width">
  <mat-label>{{ 'form.city.search' | translate }}</mat-label>
  <input 
    type="text" 
    matInput 
    [formControl]="myControl" 
    [matAutocomplete]="auto" 
    (input)="delayedSearch($event)"
    (keydown)="instantSearch($event)"
  >
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of filteredOptions | async; track option) {
      <mat-option 
        [value]="option"
        *ngIf="option.country !== undefined"
      >
        {{option.name}}
        <span *ngIf="option.state">
          -
          {{option.state}}
        </span>
        <span class="fi fi-{{ option.country.toLowerCase() }}"></span>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>